doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Gundam Shop
  // Bootstrap
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css', rel='stylesheet', integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl', crossorigin='anonymous')
  link(href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css", rel="stylesheet")
  link(rel="stylesheet",type="text/css", href="/css/jquery.nice-number.css")
  link(rel='stylesheet',type="text/css", href='/css/style.css')
  link(rel='stylesheet',type="text/css", href='/css/edit.css')
body 
  // Header
  header
    .container.d-flex
      .col-4.header-left.d-flex.align-items-center.mt-2
        input.form-control(type='text', placeholder='Search')
        a(href='#')
          i.fas.fa-search
      .col-4.header-center.d-flex.justify-content-center
        a(href='/home')
          img.img-fluid(src='/img/logo.jpg', alt='')
      .col-4.d-flex.justify-content-end.align-items-center.header-right
        a(href='/wishlist')
          i.far.fa-heart
        a(href='#')
          i.far.fa-user
        a(href='#', style='border: none;')
          i.fal.fa-shopping-cart
    // Navbar
    nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.bg-black
      .container
        a.navbar-brand.d-lg-none.d-md-block(href='#') AAToys
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.justify-content-center
          ul.navbar-nav
            li.nav-item.dropdown.gundam-menu
              a#navbarDropdown.nav-link.dropdown-toggle.text-white(href="/products/"+data[0][0].id, aria-expanded='false')= data[0][0].name
              ul.dropdown-menu.gundam-sub.has-sub(aria-labelledby='navbarDropdown')
                each gundam in data[1]
                  li  
                    a.dropdown-item(href="/products/"+gundam.id)= gundam.name      
            li.nav-item.dropdown.tools-menu
              a#navbarDropdown.nav-link.dropdown-toggle.text-white(href="/products/"+data[0][1].id, aria-expanded='false')= data[0][1].name
              ul.dropdown-menu.tools-sub.has-sub(aria-labelledby='navbarDropdown')
                each tools in data[2] 
                  li
                    a.dropdown-item(href="/products/"+tools.id)= tools.name
            li.nav-item.dropdown.paints-menu
              a#navbarDropdown.nav-link.dropdown-toggle.text-white(href="/products/"+data[0][2].id, aria-expanded='false')= data[0][2].name
              ul.dropdown-menu.paints-sub.has-sub(aria-labelledby='navbarDropdown')
                each paints in data[3]
                  li
                    a.dropdown-item(href="/products/"+paints.id)= paints.name
            li.nav-item
              a.nav-link.text-white.figures(href="/products/"+data[0][3].id)= data[0][3].name
            li.nav-item.dropdown.other-menu
              a#navbarDropdown.nav-link.dropdown-toggle.text-white(href="/products/"+data[0][4].id, aria-expanded='false')= data[0][4].name
              ul.dropdown-menu.other-sub.has-sub(aria-labelledby='navbarDropdown')
                each other in data[4] 
                  li
                    a.dropdown-item(href="/products/"+other.id)= other.name
    // End Navbar
  // End header
  // Main
  main
    block contents
  // End Main
  // Footer
  footer
    .container
      .row.mb-3
        .col-lg-3.col-md-3.mt-5.footer-left
          img.img-fluid.img-footer(src='/img/logo.jpg', alt='')
          .icon-social.d-flex
            a(href='#')
              i.fab.fa-facebook-f
            a(href='#')
              i.fab.fa-twitter
            a(href='#')
              i.fab.fa-instagram
        .col-lg-6.col-md-5.mt-5.footer-center
          .h2.text-center About Us
          |             Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae consequatur quas ea modi animi distinctio eius sapiente, ducimus veniam fugit, repellendus iste doloribus doloremque cumque nihil in necessitatibus expedita officia!
        .col-lg-3.col-md-4.mt-5.footer-right
          ul
            li
              .row
                .col-2.d-flex.align-items-center.justify-content-center
                  i.fas.fa-map-marker-alt.icon-contact
                .col-10
                  span 246/71 Hoa Hung Str
                  br
                  span 10 District, Ho Chi Minh city
            li
              .row
                .col-2.d-flex.align-items-center.justify-content-center
                  i.fas.fa-headphones-alt.icon-contact
                .col-10
                  span 0944609933
                  br
                  span dobadvo3@gmail.com
  // End Footer
  // Bootstrap CDN
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js', integrity='sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0', crossorigin='anonymous')
  // Fontawsome
  script(src='https://kit.fontawesome.com/b7d286cedf.js', crossorigin='anonymous')
  // JQuery
  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  // Main js
  script(src='/js/main.js')
  //Nice Number JQuery
  script(src="/js/jquery.nice-number.js")
  script.
    $(function(){
    $('input[type="number"]').niceNumber();
    });