.sub-footer.my-5
    .container
        .row
            .col-lg-4.col-md-3
                h2 SẢN PHẨM MỚi
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                                img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
            .col-lg-4.col-md-3
                h2 SẢN PHẨM BÁN CHẠY
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                .row 
                    .col-lg-2.col-md-2
                        a(href="/products/detail/" + product.code) 
                            img.img-fluid(src=product.image[0], alt="")
                    .col-lg-10.col-md-10
                        a(href="/products/detail/" + product.code) 
                            p.mb-0.fw-bold= product.name
                        .product-price
                            p= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})                       
                    
            .col-lg-4.col-md-3
                h2.mb-3 VÌ SAO BẠN NÊN CHỌN AZGUNDAM
                .row.my-2 
                    .col-lg-2.col-md-2
                        i(class="fal fa-truck", style="font-size: 30px;")
                    .col-lg-10.col-md-10.ps-0
                        p GIAO HÀNG NHANH TOÀN QUỐC
                .row.my-2 
                    .col-lg-2.col-md-2
                        i(class="fal fa-shield-check", style="font-size: 30px;")
                    .col-lg-10.col-md-10.ps-0
                        p UY TÍN, NHIỆT TÌNH, THÂN THIỆN
                .row.my-2 
                    .col-lg-2.col-md-2
                        i(class="fal fa-clock", style="font-size: 30px;")
                    .col-lg-10.col-md-10.ps-0
                        p ĐẶT HÀNG ONLINE 24/7
                .row.my-2 
                    .col-lg-2.col-md-2
                        i(class="fal fa-box-open", style="font-size: 30px;")
                    .col-lg-10.col-md-10.ps-0
                        p LUÔN CÓ GIÁ TỐT NHẤT