.row.single-product
  .col-xs-12.col-sm-12.col-md-12.rht-col
    .detail-block
      .row
        .col-xs-12.col-sm-12.col-md-4.col-lg-4.gallery-holder
          .product-item-holder.size-big.single-product-gallery.small-gallery
            // Main img
            #owl-single-product
              each img in product.image
                .slide1.single-product-gallery-item
                  a(data-lightbox='image-1', data-title='Gallery', href=img)
                    img.img-responsive(alt='', src=img, data-echo=img)
              
            // Sub img
            .single-product-gallery-thumbs.gallery-thumbs
              #owl-single-product-thumbnails
                each img in product.image
                  .item
                    a.horizontal-thumb.active(data-target='#owl-single-product', data-slide='1', href='.slide1')
                      img.img-responsive(alt='', src=img)                
        .col-sm-12.col-md-8.col-lg-8.product-info-block
          .product-info
            h1.name= product.name
            .rating-reviews.m-t-20
              .row
                .col-lg-12
                  .pull-left
                    .rating.rateit-small
                  .pull-left
                    .reviews
                      a.lnk(href='#') (13 Reviews)
              // /.row
            // /.rating-reviews
            .stock-container.info-container.m-t-10
              .row
                .col-lg-12
                  .pull-left
                    .stock-box
                      span.label Tình trạng
                  .pull-left
                    .stock-box
                      if(product.status)
                        span.value(style='color: rgb(128, 199, 23);') Còn hàng
                      else 
                        span.value Hết hàng
              // /.row
            // /.stock-container
            .description-container.m-t-20
              ul
                each des in product.description 
                  li= des
            // /.description-container
            .price-container.info-container.m-t-30
              .row
                .col-sm-6.col-xs-6
                  .price-box
                    span.price= product.priceSale.toLocaleString('vi', {style : 'currency', currency : 'VND'})    
                    span.price-strike= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})    
            .quantity-container.info-container
              .row
                .qty
                  span.label Số lượng
                .qty-count
                  .cart-quantity
                    .quant-input
                      .arrows
                        .arrow.plus.gradient
                          span.ir
                            i.icon.fa.fa-sort-asc
                        .arrow.minus.gradient
                          span.ir
                            i.icon.fa.fa-sort-desc
                      input(type='text', value='1')
                .add-btn
                  a.btn.btn-primary(href='/products/add-to-cart/'+product._id)
                    i.fa.fa-shopping-cart.inner-right-vs Giỏ hàng
              // /.row
            // /.quantity-container
          // /.product-info
