.sidebar
  .sidebar-widget.hot-deals.outer-bottom-xs
    h3.section-title S&#x1EA3;n ph&#x1EA9;m b&aacute;n ch&#x1EA1;y
    .owl-carousel.sidebar-carousel.custom-carousel.owl-theme.outer-top-ss
      // One Item Carousel
      each product in saleProducts
        .item
          .products
            .hot-deal-wrapper
              .image
                a(href='/products/detail/'+product.code)
                  img(src=product.image[0], alt='')
                  img.hover-image(src=product.image[1], alt='')
                if (product.sale > 0)
                  .sale-offer-tag
                    span= product.sale + "%"
                      br
                      |                                 off        
            .product-info.text-left.m-t-20
              h3.name
                a(href='/products/detail/'+product.code)= product.name
              .rating.rateit-small
              .product-price
                span.price= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
                if (product.sale > 0)
                  span.price-before-discount= product.price.toLocaleString('vi', {style : 'currency', currency : 'VND'})
            .cart.clearfix.animate-effect
              .action
                .add-cart-button.btn-group
                  button.btn.btn-primary.icon(data-toggle='dropdown', type='button')
                    i.fa.fa-shopping-cart
                  button.btn.btn-primary.cart-btn(type='button') Th&ecirc;m v&agrave;o gi&#x1ECF; h&agrave;ng
