.sidebar-widget.hot-deals.outer-bottom-xs
  h3.section-title Hot deals
  .owl-carousel.sidebar-carousel.custom-carousel.owl-theme.outer-top-ss
      each product in data[8]
        .item
          .products
            .hot-deal-wrapper
              .image
                  a(href='/products/detail/'+ product.code)
                    img(src=product.image[0], alt='')
                    img.hover-image(src=product.image[1], alt='')
              if (product.sale > 0)
                .sale-offer-tag
                    span= product.sale + "%"
                        br
                        | off
            // /.hot-deal-wrapper
            .product-info.text-left.m-t-20
                h3.name
                  a(href='detail.html')= product.name
                .rating.rateit-small
                  .product-price
                    span.price= product.price
                    span.price-before-discount= product.price
                  // /.product-price
            // /.product-info
            .cart.clearfix.animate-effect
                .action
                  .add-cart-button.btn-group
                    button.btn.btn-primary.icon(data-toggle='dropdown', type='button')
                      i.fa.fa-shopping-cart
                    button.btn.btn-primary.cart-btn(type='button') Giỏ hàng
                // /.action
            // /.cart