extends ../layouts/layout 
block contents
    .col-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title= 'Edit '
          if (order.status !== "Hoàn thành")
            form.forms-sample(method="POST", action="/orders/edit/"+order._id )
                .form-group
                    label(for="date") Ngày đặt hàng
                    input.form-control#date(type="text" value= order.date_create readonly)
                .form-group
                    label(for="name") Tên người nhận
                    input.form-control#name(type="text" value= order.delivery_address.name name="name" )
                .form-group
                    label(for="phone") Số điện thoại
                    input.form-control#phone(type="text" value= order.delivery_address.phone name="phone")
                .form-group
                    label(for="address") Địa chỉ giao hàng
                    input.form-control#address(type="text" value= order.delivery_address.address name="address")
                .form-group
                    label(for="exampleSelectGender") Phương thức vận chuyển 
                    select(class="form-control" id="exampleSelectGender" name="delivery_method")
                        each d in delivery 
                            if (d._id.equals(order.delivery_method))
                                option(value=d._id selected)= d.content 
                            else
                                option(value=d._id)= d.content 
                .form-group
                    label(for="exampleSelectGender") Phương thức thanh toán
                    select(class="form-control" id="exampleSelectGender" name="payment_method")
                        each p in payment 
                            if (p._id.equals(order.payment_method))
                                option(value=p._id selected)= p.content 
                            else
                                option(value=p._id)= p.content 
                .form-group
                    label(for="payment_status") Trạng thái thanh toán
                    select(class="form-control" id="payment_status" name="payment_status")
                        case order.payment_status 
                            when "Chưa thanh toán"
                                option(value="Chưa thanh toán" selected) Chưa thanh toán 
                                option(value="Đã thanh toán") Đã thanh toán 
                            when "Đã thanh toán"
                                option(value="Chưa thanh toán") Chưa thanh toán 
                                option(value="Đã thanh toán" selected) Đã thanh toán 
                .form-group
                    label(for="exampleSelectGender") Trạng thái đơn hàng
                    select(class="form-control" id="exampleSelectGender" name="status")
                        case order.status
                            when "Chờ xác nhận"
                                option(value="Chờ xác nhận" selected) Chờ xác nhận
                                option(value="Đang giao hàng") Đang giao hàng
                                option(value="Hoàn thành") Hoàn thành
                                option(value="Đã hủy") Đã hủy
                            when "Đang giao hàng"
                                option(value="Chờ xác nhận") Chờ xác nhận
                                option(value="Đang giao hàng" selected) Đang giao hàng
                                option(value="Hoàn thành") Hoàn thành
                                option(value="Đã hủy") Đã hủy
                            when "Hoàn thành"
                                option(value="Chờ xác nhận") Chờ xác nhận
                                option(value="Đang giao hàng") Đang giao hàng
                                option(value="Hoàn thành" selected) Hoàn thành
                                option(value="Đã hủy") Đã hủy
                            when "Đã hủy"
                                option(value="Chờ xác nhận") Chờ xác nhận
                                option(value="Đang giao hàng") Đang giao hàng
                                option(value="Hoàn thành") Hoàn thành
                                option(value="Đã hủy" selected) Đã hủy
                button(type="submit" class="btn btn-primary mr-2") Submit
                button(class="btn btn-light") Cancel     
          else
            form.forms-sample(method="POST", action="/orders/edit/"+order._id )
                .form-group
                    label(for="date") Ngày đặt hàng:&nbsp; 
                    lablel= order.date_create
                .form-group
                    label(for="name") Tên người nhận:&nbsp;
                    label= order.delivery_address.name
                .form-group
                    label(for="phone") Số điện thoại:&nbsp;
                    label= order.delivery_address.phone
                .form-group
                    label(for="address") Địa chỉ giao hàng:&nbsp;
                    label= order.delivery_address.address
                .form-group
                    label(for="exampleSelectGender") Phương thức vận chuyển:&nbsp; 
                    each d in delivery 
                        if (d._id.equals(order.delivery_method))
                            label= d.content
                .form-group
                    label(for="exampleSelectGender") Phương thức thanh toán:&nbsp;
                    each p in payment 
                        if (p._id.equals(order.payment_method))
                            label= p.content
                .form-group
                    label(for="payment_status") Trạng thái thanh toán:&nbsp;
                    label= order.payment_status
                .form-group
                    label(for="exampleSelectGender") Trạng thái đơn hàng:&nbsp;
                    label= order.status
                button(type="submit" class="btn btn-primary mr-2" disabled) Submit
                button(class="btn btn-light" disabled) Cancel     