extends ../layouts/layout
block contents
  .row
    .col-lg-12.grid-margin.stretch-card
      .card
        .card-body
          h4.card-title Loại lớn
          |                   
          button.btn.btn-inverse-success.btn-icon(type='button')
            i.mdi.mdi-plus
          |                   
          .table-responsive
            table.table.table-hover
              thead
                tr
                  th Tên            
                  th Số lượng loại                          
                  th                    
                  th
              |                       
              tbody
                each cate in category
                  tr
                    td= cate.name                 
                    td= cate.countItems                     
                    td
                      button.btn.btn-inverse-primary.btn-icon(type='button')
                        i.mdi.mdi-pencil                       
                    td
                      button.btn.btn-inverse-danger.btn-icon(type='button')
                        i.mdi.mdi-delete
    each detail in detailCate             
      .col-lg-12.grid-margin.stretch-card
        .card
          .card-body
            h4.card-title= detail.name
            |                   
            button.btn.btn-inverse-success.btn-icon(type='button')
              i.mdi.mdi-plus
            |                   
            .table-responsive
              table.table.table-hover
                thead
                  tr
                    th T&ecirc;n
                    |                           
                    th S&#x1ED1; l&#x1B0;&#x1EE3;ng s&#x1EA3;n ph&#x1EA9;m
                    |                           
                    th
                    |                           
                    th
                |                       
                tbody
                  each detailCate in detail.detailCate
                    tr
                      td= detailCate.name
                      |                           
                      td= detailCate.countItems
                      |                           
                      td
                        button.btn.btn-inverse-primary.btn-icon(type='button')
                          i.mdi.mdi-pencil
                      |                           
                      td
                        button.btn.btn-inverse-danger.btn-icon(type='button')
                          i.mdi.mdi-delete
                    
      